html, body {
    margin: 0; padding: 0;
  }
.hero-bkg-animated {
    background: gray url(http://yairwalden.com/wp-content/uploads/2018/09/Pattern_Neto.gif) repeat 0 0;
    /* background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    margin: 0;
    text-align: center;
    height: 400px;
    padding-top: 70px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  
  .hero-bkg-animated img {
    
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }